<body>

<table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="border:#e4e4e4 solid 1px;background-color: #fff;">
  <tbody>
    <tr>
      <td height="62" style="background:#333;padding: 10px;border-bottom: 1px solid rgba(238, 238, 238, 0.52);"><table width="700" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td width="30">&nbsp;</td>
              <td width="480"><img src="http://classgenie.in/img/logo.png"></td>
          <td style="padding-top: 30px;padding-left: 20px;float: right;font-size: 16px;font-family: arial;;color: #434343;line-height: 25px;float: left;">
        <a href="https://www.facebook.com/ClassGenie-638010236367664/?fref=ts"  target="_blank">
		<img src="http://classgenie.in/img/facebook.png"  width="22" alt="facbook"></a> 
		<a href="https://twitter.com/classgenie"   target="_blank"><img src="http://classgenie.in/img/twitter.png"  width="22" alt="twiter"></a>
		<a href="https://plus.google.com/102188050452858159635"  target="_blank"><img src="http://classgenie.in/img/google12.png"  width="22" alt="google"></a>
		<a href="https://www.linkedin.com/home?trk=nav_responsive_tab_home"  target="_blank"><img src="http://classgenie.in/img/linked.png"  width="22"  alt="linkdin"></a>
		</td>
              
            </tr>
          </tbody>
        </table></td>
    </tr>
    <tr>
      <td style="background: #d44e4a;color: #fff;font-size: 22px;font-family:arial;text-align: center;text-transform: uppercase;box-shadow: 2px 5px 10px #ccc;padding-top: 10px;" height="60px;"> Welcome to <strong>Classgenie !</strong> </td>
    </tr>
    <tr>
      <td style="background: #d44e4a;color: #FFF;font-size: 15px;font-family:arial;text-align: center;text-transform: uppercase;/* box-shadow: 2px 5px 10px #ccc; *//* height: 70px; */padding-bottom: 5px;"></td>
    </tr>
    <tr></tr>
    <tr>
      
	     			<tr>
		       <td style="font-size: 14px;font-family: arial;;font-weight:normal;color: #404040;text-align:left;padding: 15px 0;/* text-transform: uppercase; */font-weight: 400;padding: 18px 6%;line-height: 25px;"><%- body %></td>
	       </tr>	</td>
    </tr>
    <tr> </tr>
    <tr>
      <td bgcolor="#f7f7f7" width="100%"><!--Left box-->
        
     
        <!--End Left box--> 
        <!-- Right box  -->
        
        <table class="deviceWidth" align="left" border="0" cellpadding="0" cellspacing="0" width="33%">
          <tbody>
            <tr>
              <td class="center" style="
    border-left: 1px solid#dcdcdc;
"></td>
            </tr>
          </tbody>
        </table>
        <!--End Right box-->
   
        <!--End Right box--></td>
    </tr>
    <tr style="margin-top: 12px;">
      <td style="background: #eee;height:2px;padding-top: 0px;"></td>
    </tr>
    <tr>
      <td style="text-align: center;background-color: #d44e4a;font-size: 14px;font-family: arial;color: #fff;padding: 15px;">To know more about our services please visit <a href="http://classgenie.in/" style="color: #FFFFFF;padding-left: 10px;text-decoration: none;">www.classgenie.in</a></td>
    </tr>
    
  </tbody>
</table>

</body>
